<h1>Update public profile</h1>
<%= form_for(@profile, :url => user_profile_path(current_user), :method => :post, :html => { :class => "generic_form"} ) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <fieldset>
    <legend>Your details</legend>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => "Name", :autofocus => :true %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => "example@domain.com"%>
      </li>
      <li>
        <%= f.label :location %>
        <%= f.text_field :location, :placeholder => "Eg. Romania" %>
      </li>
      <li>
        <%= f.label :website %>
        <%= f.url_field :website, :placeholder => "http://www.example.com" %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit "Update public profile" %>
  </fieldset>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/settings_menu' %>
<% end %>