<div class="head-container">
  <div class="row">
    <div class="title-container">
      <h1>Update public profile</h1>
    </div>
  </div>
</div>
<%= twitter_bootstrap_form_for(@profile, :url => user_profile_path(current_user), :method => :post) do |f| %>
  <%= f.inputs 'Your details' do %>
    <%= f.text_field :name, :placeholder => "Name", :autofocus => :true %>
    <%= f.email_field :email, :placeholder => "example@domain.com"%>
    <%= f.text_field :location, :placeholder => "Eg. Romania" %>
    <%= f.url_field :website, :placeholder => "http://www.example.com" %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit "Update public profile" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/settings_menu' %>
<% end %>