<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path, :html => { :class => "generic_form"}) do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :email %>
        <%= f.email_field :email, :placeholder => "example@domain.com", :autofocus => :true %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit "Sign in" %>
  </fieldset>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
<p>Forget your password? <%= link_to "Reset password!", reset_passwords_path %></p>
