<tr class="show-close-button" id="own_idea_<%= own_idea.id %>">
  <td class="item">
    <span class="content"><%= own_idea.content %></span>
    <span class="timestamp">
      Created <%= time_ago_in_words(own_idea.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(own_idea.user) %>
  <td class="item">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "destroy", own_idea, :method => :delete,
                                         :confirm => "You sure?",
                                         :title => "Remove idea",
                                         :class => "ui-icon ui-icon-close" %>
    </div>
    <br/><br/>
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "show", own_idea, :method => :get, :class => "ui-icon ui-icon-search" %>
    </div>
  </td>
  <% end %>
</tr>