<div class="head-container">
  <div class="row">
    <div class="title-container">
      <h1>Remind me to</h1>
    </div>
  </div>
</div>

<div class="text-container">
  <div class="text"><h3><%= @idea.content %></h3></div>
  <div class="toolbar" id="toolbar-div">
    <%= render 'ideas/reminders_for_ideas_toolbar' %>
  </div>
</div>
<div id="table-div">
  <%= render 'reminders/simple_table' %>
</div>
<br/>
<div class="text-container">
  <div class="text">
    <div class="well">
      The idea is part of the following lists:
      <%= form_for @idea do |f| %>
        <%= f.text_field :idea_list_tokens, "data-pre" => @idea.idea_lists.map(&:attributes).to_json %>
        <br/>
        <%= f.submit "Update lists", :class => "btn primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/remind_me_too_dialog' %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>