<h1 class="idea">Remind me to</h1>
<span class="title"><%= @idea.content %></span>

<%= will_paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users %>

<% content_for :sidebar do %>
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
<% end %>
