<h1 class="idea">Remind me to</h1>
<span class="title"><%= @idea.content %></span>

<div>
  <span class="idea-toolbar">
    <%= link_to "Create new reminder", remind_me_too_path(:idea_id => @idea.id), :remote => true %> 
  </span>  · 
  <span class="idea-toolbar">
    <%= link_to "Users sharing this idea", users_idea_path(@idea) %> 
  </span>
</div>

<div>on</div>
<div id="table-div">
  <%= render 'reminders/simple_table' %>
</div>

<span>
<%= form_for @idea do |f| %>
  The idea is part of the following lists:
  <%= f.text_field :idea_list_tokens, "data-pre" => @idea.idea_lists.map(&:attributes).to_json %>
  <br/>
  <%= f.submit "Update lists" %>
<% end %>
</span>

<%= render 'shared/remind_me_too_dialog' %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>