<h3 class="idea">The following persons want to remind to</h1>
<span class="title"><%= @idea.content %></span>

<% unless @idea.shared_by?(current_user) %>
  <div>
    <span class="idea-toolbar">
      <%= link_to "Remind me too", remind_me_too_path(:idea_id => @idea.id), :remote => true %> 
    </span>
  </div>
<% else %>
  <div>
  <span class="idea-toolbar">
    <%= link_to "Create new reminder", remind_me_too_path(:idea_id => @idea.id), :remote => true %> 
  </span>  · 
    <span class="idea-toolbar">
      <%= link_to "My reminders for this idea", idea_path(@idea) %>
    </span>
  </div>
<% end %>

<%= will_paginate @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users %>

<div id="remind_me_too_dialog" title="Remind me too" ></div>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>