<div class="head-container">
  <div class="row">
    <div class="title-container">
      <h3>The following persons want to remind to <%= @idea.content %></h3>
    </div>
  </div>
</div>

<div class="text-container">
  <div class="toolbar" id="toolbar-div">
    <%= render 'ideas/users_for_ideas_toolbar' %>
  </div>
</div>

<div id="table-div">
  <%= render 'users/table' %>
</div>

<%= render 'shared/remind_me_too_dialog' %>

<% content_for :sidebar do %>
  <% if signed_in? %>
    <%= render 'shared/sidebar' %>
  <% end %>
<% end %>