<tr class="show-close-button" id="reminder_<%= reminder.id %>">
  <td class="item">
    <span class="content"><%= reminder.idea.content %> on <%= reminder.reminder_date %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(reminder.created_at) %> ago as <%= reminder.privacy.name %>.
    </span>
    <% if signed_in? %>
    <span class="item-toolbar">
      <%= render :partial => 'reminders/item_toolbar', :locals => {:idea => reminder.idea} %>
    </span>
    <% end %>
  </td>
  <% if current_user?(reminder.user) %>
  <td class="item">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "delete", reminder, :method => :delete,
                                        :confirm => "You sure?",
                                        :title => "Remove reminder",
                                        :class => "ui-icon ui-icon-close",
                                        :remote => true %>
    </div>
  </td>
  <% end %>
</tr>