<%= form_tag({:controller => :reminders,  :action => :create}, { :class => "generic_form"}) do %>
  <%= render 'shared/error_messages', :object => @reminder %>
  <fieldset>
    <%= hidden_field :idea, :id %>
    <legend>Remind me to</legend>
    <ol>
      <li>
        <span class="title"><%= @idea.content %></span>
      </li>  
      <li>
        <%= label_tag :reminder_reminder_date, "on" %>
        <%= text_field :reminder, :reminder_date, :placeholder => "Reminder date" %>
      </li>
      <li>
        <%= label_tag :reminder_privacy_id, "as" %>
        <%= collection_select(:reminder, :privacy_id, Privacy.all, :id, :name) %>
      </li>
  </ol>
  </fieldset>
  <fieldset>
    <%= submit_tag "Post" %>
  </fieldset>
<% end %>
