<h1 class="idea">Remind me to</h1>
<span class="title"><%= @idea.content %></span>
<%= form_tag :controller => :reminders,  :action => :create do %>
  <%= render 'shared/error_messages', :object => @reminder %>
  <div class="field">
    <%= hidden_field :idea, :id %>
  </div>
  <span class="title">on</span>
  <span class="field">
    <%= text_field :reminder, :reminder_date, :class => "text ui-widget-content ui-corner-all" %>
  </span>
  <span class="title">as</span>
  <span class="field">
    <%= collection_select(:reminder, :privacy_id, Privacy.all, :id, :name) %>
  </span>
  <span class="actions">
    <%= submit_tag "Post" %>
  </span>  
<% end %>
