<h1>Change password</h1>
<%= form_for(@change_reseted_password, :html => { :class => "generic_form"}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <fieldset>
    <legend>Change password</legend>
    <%= f.hidden_field :password_reset_code %>
    <ol>
      <li>
        <%= f.label :password, "New password" %>
        <%= f.password_field :password, :autofocus => :true %>
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ol>
  </fieldset>
  <fieldset>
    <%= f.submit "Change password" %>
  </fieldset>
<% end %>
