<div class="<% if ajax_form? %>ajax-form-container<% else %>form-container<%  end %> ">
  <%= twitter_bootstrap_form_for @change_reseted_password do |f| %>
    <%= f.inputs 'Change password' do %>
      <%= f.hidden_field :password_reset_code %>
      <%= f.password_field :password, "New password", :autofocus => :true %>
      <%= f.password_field :password_confirmation, "Confirmation" %>
    <% end %>
    <%= f.actions do %>
      <%= f.submit "Change password" %>
    <% end %>
  <% end %>
</div>