<h1>Change password</h1>

<%= form_for(@change_password) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.hidden_field :password_reset_code %>
  <div class="field">
    <%= f.label :password, "New password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Change passoword" %>
  </div>
<% end %>
