<div class="head-container">
  <div class="row">
    <div class="title-container">
      <h1>Change password</h1>
    </div>
  </div>
</div>

<%= twitter_bootstrap_form_for(@change_password) do |f| %>
  <%= f.inputs 'Change the old password with a new one' do %>

    <%= f.password_field :old_password, :autofocus => "true", :required => :true %>
    <%= f.password_field :password, "New Password", :required => :true %>

    <%= f.password_field :password_confirmation, "Confirmation", :required => :true %>
  <% end %>
  <%= f.actions do %>
    <%= f.submit "Change password" %>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/settings_menu' %>  
<% end %>