<h1>Settings</h1>
<%= form_for(@user, :html => { :class => "generic_form"}) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<fieldset>
  <legend>Username and email</legend>
  <ol>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name, :placeholder => "Name" %>
    </li>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email, :placeholder => "example@domain.com" %>
    </li>
</fieldset>
<fieldset>
  <%= f.submit "Update" %>
</fieldset>
<% end %>
<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>

<% content_for :sidebar do %>
  <%= render 'shared/settings_menu' %>
<% end %>