<div class="signup-form">
  <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  <%= twitter_bootstrap_form_for @user do |f| %>
    <%= f.inputs 'New user details' do %>
      <%= f.text_field :name, :autofocus => :true, :placeholder => "Username" %>
      <%= f.email_field :email, :placeholder => "email@domain.com" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <% end %>
  
    <div class="clearfix captcha-container <% unless @user.errors[:recaptcha].empty? %>error<% end %> ">
      <%= render '/shared/recaptcha' %>
      <div class="input">
        <span class="help-inline error"><%= display_all_error_messages @user, :recaptcha %></span>
      </div>
    </div>
    <%= f.actions do %>
      <%= f.submit "Create new account", :class => "btn large primary"%>
    <% end %>
  <% end %>
</div>