<div class="signup-form">
  <%= twitter_bootstrap_form_for @user do |f| %>
    <%= f.inputs 'New user details' do %>
      <%= f.text_field :name, :autofocus => :true, :placeholder => "Username" %>
      <%= f.email_field :email, :placeholder => "email@domain.com" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
    <% end %>
    <div class="clearfix captcha-container">
      <%= render '/shared/recaptcha' %>
    </div>
    <%= f.actions do %>
      <%= f.submit "Create new account", :class => "btn large primary"%>
    <% end %>
  <% end %>
</div>