<div class="signup-form">
  <%= render :partial => "layouts/flash", :locals => {:flash => flash} %>
  <%= twitter_bootstrap_form_for @user do |f| %>
    <%= f.inputs 'New user details' do %>
      <%= f.text_field :name, :autofocus => :true, :placeholder => "Username" %>
      <%= f.email_field :email, :placeholder => "email@domain.com" %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <% if PersonalLog::Application.config.recaptcha[:enable] %>
      <div class="clearfix <% unless @user.errors[:recaptcha].empty? %>error<% end %> ">
        <label>Captcha</label>
        <div class="captcha-container">
          <span ><%= render '/shared/recaptcha' %></span>
          <span class="help-inline error"><%= display_all_error_messages @user, :recaptcha %></span>
        </div>
      </div>
      <% end %>
    <% end %>


    <%= f.actions do %>
      <%= f.submit "Create new account", :class => "btn large primary"%>
    <% end %>
  <% end %>
</div>