<%= render 'users/gravatar_head' %>

<% unless @reminders.empty? %>
  <%= render 'reminders/wants_to_remind' %>
<% end %>

<div id="table-div">
  <%= render 'reminders/table' %>
</div>

<%= render 'shared/remind_me_too_dialog' %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
