
<h1>
  <%= gravatar_for(@user) %>
  <span id="profile-display-name"><%= @user.display_name %></span>
</h1>
<%= render 'follow_form' if signed_in? %>
<% unless @user.microposts.empty? %>
  <h3 class="micropost">...wants to remind to...</h3>
  <table class="microposts" summary="User microposts">
    <%= render @microposts %>
  </table>
  <%= will_paginate @microposts %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
  <div class="sidebar-user-info">
    <% unless @user.profile.nil? %>
      <% unless @user.profile.email.empty? %>
      <div class="sidebar-user-info-item">
        <strong>Email:</strong> <%= @user.profile.email %>
      </div>
      <% end %>
      <% unless @user.profile.location.empty? %>
      <div class="sidebar-user-info-item">
        <strong>Location:</strong> <%= @user.profile.location %>
      </div>
      <% end %>
      <% unless @user.profile.website.empty? %>
      <div class="sidebar-user-info-item">
        <strong>Website:</strong> <%= @user.profile.website %>
      </div>
      <% end %>
    <% end %>    
  </div>
<% end %>
