<h1>
  <%= gravatar_for(@user) %>
  <span id="profile-display-name"><%= @user.display_name %></span>
</h1>
<%= render 'follow_form' if signed_in? %>
<% unless @reminders.empty? %>
  <h3 class="idea">...wants to remind to...</h3>
  <table class="items" summary="User reminders">
    <%= render @reminders %>
  </table>
  <%= will_paginate @reminders %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
