<tr id="feed-item-<%=feed_item.id%>" class="show-close-button">
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.display_name, feed_item.user %>
    </span>
    <span class="content">wants to remind to <%= feed_item.content %> on <%= feed_item.reminder_date %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago as <%= feed_item.privacy.name %>
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td class="micropost">
    <div class="hover ui-state-default ui-corner-all icon-button invisible" style="float: right;">
        <%= link_to "delete", feed_item, :method => :delete,
                                         :confirm => "You sure?",
                                         :title => "Remove post",
                                         :remote => true,
                                         :class => "ui-icon ui-icon-close"%>
    </div>
  </td>
  <% else %>
  <td class="micropost"></td>
  <% end %>
</tr>
