<div class="head-container">
  <div class="<% if ajax_form? %>ajax-form-container<% else %>form-container-two-columns<%  end %> ">
    <%= twitter_bootstrap_form_for(@reminder, {:as => 'new_reminder', :url => create_reminder_and_idea_path, :remote => remote?, :html => {:id => 'main_new_reminder', :class => 'main_new_reminder'}}) do |reminder| %>
      <%= reminder.inputs 'Remind me' do %>
        <%= reminder.fields_for @idea do |idea| %>
          <%= idea.text_field :content, 'to', :placeholder => 'eg: dream more!'%>
        <% end %>
        <%= reminder.text_field :reminder_date, 'on', :placeholder => 'reminder date' %>
        <%= reminder.collection_select :privacy_id, 'as', Privacy.all, :id, :name %>
      <% end %>
      <% unless hide_buttons? %>
        <%= reminder.actions do %>
          <%= reminder.submit submit_button_name, :id => "new_reminder_post" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>