<%= form_tag({:controller => :ideas, :action => :create}, {:class => "new_idea"}) do %>
  <%= render 'shared/error_messages', :object => @idea %>
  <%= render 'shared/error_messages', :object => @reminder %>
  
  <div class="field">
    <%= text_field :idea, :content, :class => "text ui-widget-content ui-corner-all", "x-webkit-speech" => :true %>
  </div>
  <span class="title">on</span>
  
  <span class="field">
    <%= text_field :new_reminder, :reminder_date, :class => "text ui-widget-content ui-corner-all" %>
  </span>

  <span class="title">as</span>
  <span class="field">
    <%= collection_select :new_reminder, :privacy_id, Privacy.all, :id, :name %>
  </span>
  <span class="actions">
    <%= submit_tag "Post", :id => "new_reminder_post" %>
  </span>  
<% end %>
