<%= form_tag({:controller => :ideas, :action => :create}, {:class => "new_idea"}) do %>
  <%= render 'shared/error_messages', :object => @idea %>
  <%= render 'shared/error_messages', :object => @reminder %>
  
  <div class="field">
    <%= text_area :idea, :content %>
  </div>
  <span class="title">on</span>
  
  <span class="field">
    <%= text_field :reminder, :reminder_date %>
  </span>

  <span class="title">as</span>
  <span class="field">
    <%= collection_select(:reminder, :privacy_id, Privacy.all, :id, :name) %>
  </span>
  <span class="actions">
    <%= submit_tag "Post" %>
  </span>  
<% end %>
