<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <h1 class="micropost">on</h1>
  <div class="field">
    <%= f.date_select(:reminder_date, options = {:start_year => Time.now.year } )%>
  </div>
  <div class="field">
    <%= f.collection_select(:privacy_id, Privacy.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
