<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Remind me to</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <p>Do you have an idea that <b>can change your life</b>, but right now you don't have the time to implement it?</p>
  <p>If you don't store your ideea, in time will fade away, will vanish!</p>
  <p>You have to keep track of this kind of ideas and <b>remember</b> them when the time is right!</p>
  <p><b>Remember to live</b> will make your life better, by recalling all the <b>catchy ideas</b>, on the right time!</p>
  <p>Share your ideas with friends and family, start improving your life right now!</p>
  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
