<%= form_for(@idea_list, :remote => remote?, :html => { :class => "generic_form"}) do |f| %>
  <fieldset>
    <legend>Idea list details</legend>
    <ol>
      <li>
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, :autofocus => :true  %>
        <%= errors_for_field(@idea_list, :name) %>
      </li>
    </ol>
  </fieldset>
  <% unless hide_buttons? %>
  <fieldset>
    <%= f.submit %>
  </fieldset>
  <% end %>
<% end %>