<div class="<% if ajax_form? %>ajax-form-container<% else %>form-container<%  end %> ">
  <%= twitter_bootstrap_form_for(@idea_list, :remote => remote?) do |f| %>
    <%= f.inputs 'Idea list details' do %>
      <%= f.text_field :name, :autofocus => :true  %>
    <% end %>
    <% unless hide_buttons? %>
      <%= f.actions do %>
        <%= f.submit submit_button_name %>
      <% end %>
    <% end %>
  <% end %>
</div>