<h1>
  <%= gravatar_for(@user) %>
  <span id="profile-display-name"><%= @user.display_name %></span>
</h1>

<% unless @ideas.empty? %>
  <h3 class="idea">...has the next ideas in <%= @idea_list.name %>...</h3>
  <div id="table-div">
    <%= render 'ideas/table' %>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>