<h1>Reset password</h1>
<%= form_for(@reset_password) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => "text ui-widget-content ui-corner-all" %>
  </div>
  <div class="actions">
    <%= f.submit "Reset password" %>
  </div>
<% end %>
