<div class="<% if ajax_form? %>ajax-form-container<% else %>form-container<%  end %> ">
  <%= twitter_bootstrap_form_for @reset_password do |f| %>
    <%= f.inputs 'Reset password' do %>
      <%= f.email_field :email, :placeholder => "example@domain.com", :autofocus => "true" %>
    <% end %>
    <%= f.actions do %>
      <%= f.submit "Reset password" %>
    <% end %>
  <% end %>
</div>