<% content_for :content do %>
  <div class="content">
    <div class="page-header">
      <%= render 'layouts/header' %>
    </div>
    <div class="row">
      <div class="main-content">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <% if @hide_sidebar.nil? or @hide_sidebar == false %>
        <div class="sidebar">
          <% if content_for?(:sidebar) %>
            <%= yield :sidebar %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <footer>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </footer>
<% end %>

<%= render :file => 'layouts/main' %>